.lista{
    display: flex;
    flex-direction: column;

}

.btn-danger{
    display: flex;
    width: 40px;
    align-self: flex-end;
    border-radius: 100px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .11), 0 9px 10px 0 rgba(0, 0, 0, .08);
}