<header>
    <div id="pagewrap">
        <p id="back-top" style="display: block;">
            <a href="#top">
            </a>
        </p>
    </div>
    <!-- <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
        <ul>
            <li><a href="https://sinmordaza.org/" class="cmn-t-underline">Home</a></li>
            <li><a routerLink="prensa" class="cmn-t-underline">Prensa</a></li>
            <li><a href="https://mapaconcentracion.sinmordaza.org/admin/" target="_blank" class="cmn-t-underline">Ingresar</a></li>

        </ul>

    </nav> -->

    <div class="clear"></div>
    <div class="container  tttt logoo" style="display: block;">
        <div class="sli header texto ttt1 animated fadeInUp" id="sli1">
            <div class="logo2 Up">
                <img src="./assets/img/logo.png" alt="logo ">
            </div>
            <h1>Gran Protesta Mundial <span style="color: #ee114e;">por la Libertad </span>de Venezuela</h1>
            <h2>28 de Septiembre de 2024</h2>
        </div>
        <!-- <a routerLink="home">
        </a> -->
    </div>
    <div class="clear"></div>
    <div class="container tttt">
        <div class="sli header ttt1">
            <div class="logocompleto "></div>

        </div>
        <!-- <a routerLink="home">

        </a> -->
    </div>
</header>

<!-- <div class="main">
    <div class="container">
        <div id="showRightPush" class="menn" (click)="openMenu()">&#9776; </div>
    </div>
</div> -->